.mainBasket {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 0 auto;
  border: 2px solid black;
  justify-content: space-around;
  height: 44vw;
  width: 25vw;
  box-shadow: 5px 5px 5px 5px rgb(219, 219, 219);
  border-radius: 10px;
}

.product {
  display: flex;
  width: 95%;
  height: 13%;
  box-shadow: 5px 5px 5px 5px rgb(219, 219, 219);
  border-radius: 10px;
  margin: 10px 0 ;
  text-align: center;
}

.product button {
  width: 10%;
  background-color: orange;
  border-radius: 10px;
  height: 20%;
  margin-top: 30px;
}

.totalPrice {
  z-index: 100;
  position: absolute;
  display: flex ;
  margin-top: 41%;
  height: 20px;
  width: 20%;
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
}

.subBtn{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

#backBtn{
  height: 30px;
  width: 12%;
  background-color: orange;
  border-radius: 10px;
  
}

#productName {
  width: 25%;
  text-align: left;
  padding-left: 10px;
}

#productAmount {
  position: relative;
  text-align: center;
  top: 17px;
  padding: 0 10px 0 10px;
}

#productPrice {
  position: relative;
  text-align: right;
  top: 15%;
  left: 55%;
}

